/* the whole page */


/* header */
#sign{
  position: absolute;
  right : 0px;
  top : 10px;
}

#mypage{
  position: absolute;
  right : 100px;
  top : 10px;
}

#sub_title{
  position: absolute;
  right : 100px;
  top : 10px;
}

header{
  position : relative;
}

/* various_goods */
/* various_goods.cssを利用 */
