
/* div="various_goods"に適用 */
.various_goods{
  margin: 10px 30px
}

.one_good{
  height:500px;
  border: 3px solid brown;
  width: 290px;
  display: inline-block;
  margin: 10px;
  text-align :center;
  border-radius: 10px;
}

img:hover{
  opacity: 0.5;
}

img{
  margin: none;
}
