<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>出品</title>
  </head>
  <body>
    <h1>出品</h1>
    <form method="POST" action="/complete_post_goods",enctype="mulitpart/form-data">
      <input placeholder="商品名" name="goods_name" type="text"/>
      <input placeholder="レンタル料" name="rental_fee" type="text"/>
      <textarea name="description" placeholder="説明文を書きましょう。">
      </textarea>
      <input value="送信" type="submit"/>
    </form>

    <p>
    商品の出品を行う</p>

    <a href="#" onclick="history.back(); return false;">前に戻る</a>

  </body>
</html>
