<!--
{% extends "page_template.html" %}
{% block title %}サインアップ{% endblock %}
{% block head %}
{{super()}}
{% endblock %}

{% block contents %}
-->

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" type="text/css" href="../static/grid.css">
<!--        <link rel="stylesheet" type="text/css" href="static/css/queries.css">-->
        <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic" rel="stylesheet" type="text/css">
        <title>Sign up</title>
       
</head>

<header>
     <div class="row sign-up-title">
    <h2>ユーザー登録</h2>
    </div>
</header>

<section>
<div class="row">

  <form method="POST" action="/top_page",enctype="mulitpart/form-data">
    <input placeholder="名前" name="username" type="text"/>
    <input placeholder="パスワード" name="password" type="password"/>
    <input value="送信" type="submit"/>
  </form>

  <p>現時点ではしょぼいが、ここをユーザー登録の画面にする適当に入力すると入れます。</p>
 </div>
</section>

<footer>
  <a href="#" onclick="history.back(); return false;">前に戻る</a>
</footer>
<!--{% endblock %}-->
