{% extends "page_template.html" %}
{% block title %}サインアップ{% endblock %}
{% block head %}
{{super()}}
{% endblock %}

{% block contents %}
<h1>ユーザー登録</h1>
<form method="POST" action="/top_page",enctype="mulitpart/form-data">
  <input placeholder="名前" name="username" type="text"/>
  <input placeholder="パスワード" name="password" type="text"/>
  <input value="送信" type="submit"/>
</form>

<p>
現時点ではしょぼいが、ここをユーザー登録の画面にする
適当に入力すると入れます。</p>
<a href="#" onclick="history.back(); return false;">前に戻る</a>

{% endblock %}
